---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import AccountList from '../components/AccountLists.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');

const btsGlobalParams = btsFeeSchedule.map(collection => collection.data);
const testGlobalParams = testFeeSchedule.map(collection => collection.data);
---

<Layout title="Bitshares Account List configuration">
	<main>
		<PageHeader client:only="react" page="AccountLists" backURL="../index.html" />
		<AccountList
			client:only="react"
			_globalParamsBTS={btsGlobalParams}
			_globalParamsTEST={testGlobalParams}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/account_lists.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>