---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import CreditBorrow from '../components/CreditBorrow.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsOffers = await getCollection('btsOffers');
const testOffers = await getCollection('testOffers');

const btsAssets = btsAllAssets.map(collection => collection.data);
const testAssets = testAllAssets.map(collection => collection.data);
const offersBTS = btsOffers.map(collection => collection.data);
const offersTEST = testOffers.map(collection => collection.data);
---

<Layout title="Bitshares credit offer listings">
	<main>
		<PageHeader client:only="react" page="borrow" backURL="../index.html" />
		<CreditBorrow
			client:only="react"
			_assetsBTS={btsAssets}
			_assetsTEST={testAssets}
			_offersBTS={offersBTS}
			_offersTEST={offersTEST}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/borrow.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>