---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import CreateVestingBalance from '../components/CreateVestingBalance.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsMarketData = await getCollection('btsMarketData');
const testMarketData = await getCollection('testMarketData');

const btsAssets = btsAllAssets.map(collection => collection.data);
const testAssets = testAllAssets.map(collection => collection.data);
const _btsMarketData = btsMarketData.map(collection => collection.data);
const _testMarketData = testMarketData.map(collection => collection.data);
---

<Layout title="Bitshares vesting balances">
	<main>
		<PageHeader client:only="react" page="create_vesting" backURL="../index.html" />
		<CreateVestingBalance
			client:only="react"
			_assetsBTS={btsAssets}
			_assetsTEST={testAssets}
			_marketSearchBTS={_btsMarketData}
			_marketSearchTEST={_testMarketData}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/create_vesting.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>