---
import Layout from '../layouts/Layout.astro';
import InvoiceCreator from '../components/InvoiceCreator.jsx';
import PageHeader from '../components/PageHeader.jsx';
import PageFooter from '../components/PageFooter.jsx';
---

<Layout title="Bitshares Create Invoice">
	<main>
		<PageHeader client:only="react" page="create_invoice" backURL="../index.html" />
		<InvoiceCreator client:only="react" />
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/create_invoice.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>