---
import Layout from '../layouts/Layout.astro';
import CreditDeals from '../components/CreditDeals.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';
---

<Layout title="Bitshares credit deal listings">
	<main>
		<PageHeader client:only page="deals" backURL="../index.html" />
		<CreditDeals client:only />
		<PageFooter client:only sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/deals.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>