---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import CreditDeals from '../components/CreditDeals.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');

const btsAssets = btsAllAssets.map(collection => collection.data);
const testAssets = testAllAssets.map(collection => collection.data);
const feeScheduleBTS = btsFeeSchedule.map(collection => collection.data);
const feeScheduleTEST = testFeeSchedule.map(collection => collection.data);
---
<Layout title="Bitshares credit deal listings">
	<main>
		<PageHeader client:only="react" page="deals" backURL="../index.html" />
		<CreditDeals
			client:only="react"
			_assetsBTS={btsAssets}
			_assetsTEST={testAssets}
			_globalParamsBTS={feeScheduleBTS}
			_globalParamsTEST={feeScheduleTEST}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/deals.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>