---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import MarketOverlay from '../components/MarketOverlay';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsMarketData = await getCollection('btsMarketData');
const testMarketData = await getCollection('testMarketData');

const btsPools = await getCollection('btsPools');
const testPools = await getCollection('testPools');

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');
---

<Layout title="Bitshares decentralized cryptocurrency exchange - limit order page">
	<main>
		<PageHeader client:only="react" page="dex" backURL="../index.html" />
		<MarketOverlay
			client:only="react"
			_assetsBTS={btsAllAssets.map(collection => collection.data)}
			_assetsTEST={testAllAssets.map(collection => collection.data)}
			_poolsBTS={btsPools.map(collection => collection.data)}
			_poolsTEST={testPools.map(collection => collection.data)}
			_marketSearchBTS={btsMarketData.map(collection => collection.data)}
			_marketSearchTEST={testMarketData.map(collection => collection.data)}
			_globalParamsBTS={btsFeeSchedule.map(collection => collection.data)}
			_globalParamsTEST={testFeeSchedule.map(collection => collection.data)}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/dex.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>