---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Featured from '../components/Featured.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';
---

<Layout title="Featured Bitshares markets - listing the highest traded market pairs">
	<main>
		<PageHeader client:only="react" page="featured" backURL="../index.html" />
		<Featured client:only="react" />
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/featured.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>