---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.jsx';
import CurrentUser from '../components/common/CurrentUser';
---

<Layout title="Bitshares Beet Astro UI - index">
	<main>
		<h2>Welcome to the <span class="text-gradient">Bitshares Beet Astro</span> UI</h2>
		<h3>
			This <a class="text-gradient" href="https://github.com/BTS-CM/astro-pool">open-source tool</a> can craft multiple Bitshares operations. <br/>
		</h3>
		<h3>
			For use with the <a class="text-gradient" href="https://github.com/bitshares/beet">Bitshares Beet wallet</a>.
		</h3>
		<Home client:load />
		<h4>
			<a class="text-gradient" href="https://github.com/BTS-CM/astro-ui/blob/main/LICENSE">MIT Licensed</a> code built with <a class="text-gradient" href="https://astro.build/">Astro</a>, <a class="text-gradient" href="https://react.dev/">React</a>, <a class="text-gradient" href="https://elysiajs.com/">ElysiaJS</a> and <a class="text-gradient" href="https://bun.sh/">Bun</a>.
		</h4>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
	h2 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h3 {
		font-weight: 300;
		line-height: 0.9;
		text-align: center;
		margin-bottom: 1em;
	}
	h4 {
		font-weight: 200;
		line-height: 0.8;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
