---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import LTM from '../components/LTM.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';
---

<Layout title="Bitshares lifetime membership status">
	<main>
		<PageHeader client:only="react" page="ltm" backURL="../index.html" />
		<LTM client:only="react" />
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/ltm.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>