---
import Layout from '../layouts/Layout.astro';
import CreditOffer from '../components/CreditOffer.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';
---

<Layout title="Bitshares credit deal">
	<main>
		<PageHeader client:only page="offer" backURL="../borrow/index.html" />
		<CreditOffer  client:only />
		<PageFooter client:only sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/offer.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>