---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import PoolTracker from '../components/PoolTracker.jsx';
import PageHeader from '../components/PageHeader';
import PageFooter from '../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsAssets = btsAllAssets.map(collection => collection.data);
const testAssets = testAllAssets.map(collection => collection.data);
---

<Layout title="Bitshares pool exchange form">
	<main>
		<PageHeader client:only="react" page="pool_tracker" backURL="../index.html" />
		<PoolTracker
			client:only="react"
			_assetsBTS={btsAssets}
			_assetsTEST={testAssets}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/pool_tracker.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>