---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader';
import Settlement from '@/components/Settlement';
import PageFooter from '../components/PageFooter';
---

<Layout title="Bitshares smartcoin issuance form">
	<main>
		<PageHeader client:only="react" page="settlement" backURL="../smartcoins/index.html" />
		<Settlement client:only="react" />
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/settlement.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>