---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.jsx';
import PageFooter from '../components/PageFooter.jsx';
import Voting from '../components/Voting.jsx';
---
<Layout title="Bitshares Witnesses">
    <main>
        <PageHeader page={"vote"} client:only="react" />
        <Voting client:only="react" />
         <PageFooter sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/vote.astro" client:only="react" />
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>